body{
  
    background-color:#A690A4;
}
.App{
    background-color:#06070E;
    min-height:500px;
    width: 400px;
    margin: 40px auto;
    
}
#to-do-form input{
    background-color: #f8cc7a;
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    border-radius:10px;
    color: #181817;
    font-weight: bolder;

}
#to-do-form input ::placeholder{
    color:rgba(255, 255, 255, 0.5)
}
#to-do-form input :focus,#to-do-form button:focus{
    outline: none;
}
#to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-weight: bolder;


}
li{
    list-style-type:none;
    color: #f7f2f7;
    width: 300px;
    background-color: #f8cc7a;
    height: 50px;
    margin: 20px ;
    border-radius: 5px;
}
li p{
    padding: 20px;
    position: relative;
}
li p span{
    position:absolute;
    right :10px;
    cursor: pointer;

}
.facions{
    margin: 0 5px;
    font-size: 15px;
}